{% extends "base.html" %}{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Change password" %}{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5">
        <a href="{% url 'users:edit' user.id %}">&lt; {% trans "Back" %}</a>
        <h2>{% trans "Change password" %}</h2>

        <form method="POST" action="" class="password_change">
            {% csrf_token %}
            {{ form|crispy }}
            <a class="btn" href="{% url 'users:edit' user.id %}">{% trans "Cancel" %}</a>
            <input class="btn" type="submit" value="{% trans 'Change Password' %}">
        </form>
    </div>
  </div>
</div>
{% endblock content %}
