{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <h3>Help</h3>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="tabbable boxed parentTabs help-page">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#help1">
                        <p><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></p>
                        <p><span>Help 1</span></p>
                    </a>
                </li>
                <li>
                    <a href="#help2">
                        <p><span class="glyphicon glyphicon-star" aria-hidden="true"></span></p>
                        <p><span>Help 2</span></p>
                    </a>
                </li>
                <li>
                    <a href="#help3">
                        <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span></p>
                        <p><span>Help 3</span></p>
                    </a>
                </li>
                <li>
                    <a href="#help4">
                        <p><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></p>
                        <p><span>Help 4</span></p>
                    </a>
                </li>
            </ul>
            <div class="tab-content">

                <!-- Help 1 -->
                <div class="tab-pane fade active in" id="help1">
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#help1-1">Help 1.1</a>
                            </li>
                            <li>
                                <a href="#help1-2">Help 1.2</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="help1-1">
                                <p>Help 1.1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque sequi doloribus optio, et, iusto non laborum maiores facilis veniam in obcaecati cumque sapiente nemo veritatis esse voluptates sint numquam similique.</p>
                            </div>
                            <div class="tab-pane fade" id="help1-2">
                                <p>Help 1.2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque sequi doloribus optio, et, iusto non laborum maiores facilis veniam in obcaecati cumque sapiente nemo veritatis esse voluptates sint numquam similique.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Help 2 -->
                <div class="tab-pane fade" id="help2">
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#help2-1">Help 2.1</a>
                            </li>
                            <li>
                                <a href="#help2-2">Help 2.2</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="help2-1">
                                <p>Help 2.1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque sequi doloribus optio, et, iusto non laborum maiores facilis veniam in obcaecati cumque sapiente nemo veritatis esse voluptates sint numquam similique.</p>
                            </div>
                            <div class="tab-pane fade" id="help2-2">
                                <p>Help 2.2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque sequi doloribus optio, et, iusto non laborum maiores facilis veniam in obcaecati cumque sapiente nemo veritatis esse voluptates sint numquam similique.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Help 3 -->
                <div class="tab-pane fade" id="help3">
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#help3-1">Help 3.1</a>
                            </li>
                            <li>
                                <a href="#help3-2">Help 3.2</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="help3-1">
                                <p>Help 3.1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque sequi doloribus optio, et, iusto non laborum maiores facilis veniam in obcaecati cumque sapiente nemo veritatis esse voluptates sint numquam similique.</p>
                            </div>
                            <div class="tab-pane fade" id="help3-2">
                                <p>Help 3.2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque sequi doloribus optio, et, iusto non laborum maiores facilis veniam in obcaecati cumque sapiente nemo veritatis esse voluptates sint numquam similique.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Help 4 -->
                <div class="tab-pane fade" id="help4">
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#help4-1">Help 4.1</a>
                            </li>
                            <li>
                                <a href="#help4-2">Help 4.2</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="help4-1">
                                <p>Help 4.1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque sequi doloribus optio, et, iusto non laborum maiores facilis veniam in obcaecati cumque sapiente nemo veritatis esse voluptates sint numquam similique.</p>
                            </div>
                            <div class="tab-pane fade" id="help4-2">
                                <p>Help 4.2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque sequi doloribus optio, et, iusto non laborum maiores facilis veniam in obcaecati cumque sapiente nemo veritatis esse voluptates sint numquam similique.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
