/**
 * Settings
 */

// Colours
// ==========================================================================
$grey-100: #333;
$grey-50:  #555;
$grey-25:  #999;
$grey-10:  #eee;

$base-font-color: $grey-100;

$black: #161823;
$green: #00c0c0;
$grey:  #b9b9b9;
$red:   #c12e2a;
