<!-- Modal -->
<div class="modal fade" id="confirmCompanyPermissionEditModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirm permission edit</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to edit these permissions?</p>
            </div>
            <div class="modal-footer">
                <div class='text-center'>
                    <a id="confirm-yes"
                       href="javascript: document.getElementById('permission-edit-form').submit();"
                       class="btn"
                    >
                        Save
                    </a>
                    <a id="confirm-no" class="btn" href="#">Cancel</a>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
