/**
 * Programme Detail
 */

.programme-detail-title {
    .link {
        font-size: 15px;
    }
}

.view-players {
    margin-left: 48px;
}

.programme-detail-subtitle {
    .link {
        font-size: 0.75em;
    }
}

