<!-- Modal -->
<div class="modal fade" id="confirmNormGroupChange" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    Confirm Norm Group change
                </h4>
            </div>
            <div class="modal-body text-center">
                <p>
                    Altering the Norm Group will re-calculate the Normed Scores for all candidates who have
                    completed the game-based assessment in this programme in the background. The new scores will
                    take a short period of time to appear on the DataHub.
                </p>
            </div>
            <div class="modal-footer">
                <div class='text-center'>
                    <a id="confirm-yes" href="javascript: document.getElementById('programme-update-form').submit();" class="btn">Save</a>
                    <a id="confirm-no" class="btn" href="#">Cancel</a>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->