{% extends "reporting/base.html" %}
{% load crispy_forms_tags i18n static %}

{% block breadcrumbs %}
    {{ block.super }} &raquo; Create Report
{% endblock breadcrumbs %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h3>Create Report</h3>
            <p>
                To create a new report select a template from the drop-down below.
                You can also preview different templates here.
            </p>
            {% crispy form %}
        </div>
    </div>
{% endblock content %}
