{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset Password" %} {{ object }}{% endblock title %}

{% block nav %}{% with section="users" %}{{ block.super }}{% endwith %}{% endblock nav %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <h2>Reset User Password</h2>
    <p>Are you sure you want to reset the password belonging to <strong>{{ object.name }} ({{ object.email }})</strong>?</p>
    <p>If you continue, {{ object.name }} will not be able to log in again until they follow the instructions sent to them by email.</p>
    <a href="{% url 'users:edit' object.id %}" class="btn btn-default">Cancel</a>
    <input type="submit" value="Confirm" class="btn btn-danger"/>
</form>
{% endblock content %}
