<p>Hi {% verbatim %}{{ first_name }}{% endverbatim %},</p>
<p>Thanks for completing our Game-Based Assessment{{ game_count|pluralize }}, we hope you enjoyed this new approach to
    understanding your strengths.</p>
<p>We’ve used thousands of data points from your assessment to establish your suitability for the role. Since we’ve
    discovered so much about you, we think it’s only fair that you to receive some feedback as well. Your results
    have been compiled into the attached personality report.</p>
<p>We will be in touch with you shortly to let you know the outcome and next steps.</p>
<p>Kind regards</p>
<p><strong>Arctic Shores Assessments</strong></p>
